@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  /* background: url("/src/assets/background.svg");
  background-size: 100%; */
  background-color: #A9D2D5;
}

nav {
  background-color: #97bec0;
}

.img-thumbnail {
  background: transparent;
  border: none;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  border: none;
  box-shadow: rgba(151, 190, 192, 0.8) 0px 7px 29px 0px;
}

/* login container styling */
.btn-color{
  background-color: #97bec0;
  color: #fff;  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color{
  background-color: #e1ecf9;
}

a{
  text-decoration: none;
}

.login-control:active {
  border: none;
}

/* .login-container {
  max-height: 75vh;
} */

.order-form {
}

.form-control {
  background-color: #ebf2fa;
}

.form-order {
  width: 85%;
  background-color: #ebf2fa;
  overflow: hidden;

}

.btn {

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #97bec0;
  height: 48px;
  :hover{
      background-color: #83afb1;
  }

}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #97bec0;
}

.table-responsive {
  width: 100vw;
}

.table-responsive table {
  width: 75%;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 8px 0px;
  border-radius: 13px !important;
}

.table-responsive table th {
  font-size: 1.4rem;
}

/* do i want the numbers in the center of the cols???? */

.table > tbody > tr > td {
  vertical-align: middle;
  font-size: 1.25rem;
}

/* .page-container {
  position: relative;
  min-height: 100%;
}

.content-wrap {
  padding-bottom: 2.5rem;    
}

#footer {
            
} */

.confirm-form {
  min-height: 70vh;
}

.usage-confirm-container {
  min-height: 70vh;
}

.chart-container {
  width: 75vw;
}
