html {
  scroll-behavior: smooth;
}

body {
  /* background: url("/src/assets/background.svg");
  background-size: 100%; */
  background-color: #A9D2D5;
}

nav {
  background-color: #97bec0;
}

/* login container styling */
.btn-color{
  background-color: #97bec0;
  color: #fff;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}